:root {
  --uah-blue: #005EB8;
  --uah-blue-light: #5D97D6;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  background-color: white;
  padding-top: 100px; /* Ajusta el espacio superior según sea necesario */
}

.logo-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.logo-container img {
  height: 50px;
  margin: auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

header {
  background-color: var(--uah-blue);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

h1 {
  color: var(--uah-blue);
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.button {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid var(--uah-blue);
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  background-color: var(--uah-blue);
  color: white;
}

.button:hover {
  background-color: var(--uah-blue-light);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.3);
}

.button:focus {
  outline: none;
}

.button:hover,
.button:focus {
  cursor: pointer;
  cursor: hand;
}

