:root {
    --uah-blue: #005EB8;
    --uah-blue-light: #5D97D6;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--uah-blue);
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.logo-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.logo-container img {
    height: 50px;
    margin: auto;
}

h1 {
    color: var(--uah-blue);
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid var(--uah-blue-light);
    border-radius: 10px;
}

label {
    color: var(--uah-blue);
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    border: none;
    background-color: var(--uah-blue-light);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    border: none;
    background-color: var(--uah-blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: var(--uah-blue-light);
}

