<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Migración terminada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finish.css') }}" type="text/css">
  </head>
  <body>
    <h1>Migración terminada</h1>
    <p>¡Felicidades el proceso se ha completado con éxito!</p>
    <div class="confetti"></div>
    <button class="button">Página principal</button>
    <button class="button">Abrir Grafana</button>
  </body>
</html>

