<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/uah.png') }}" alt="Universidad de Alcalá de Henares">
        <h1>Flask File Uploads Tutorial</h1>
    </header>

    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        <label for="file">Elige un archivo excel para subir:</label>
        {{form.file(id="file")}}
        <input type="submit" value="Ejecutar archivo">
    </form>
</body>
</html>

